{% extends 'gerencia/base/base.html' %}

{% block gerencia_content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if action == 'edit_mercado' %}
        {% include 'gerencia/base/parts/edit_mercado.html' %}
    {% elif action == 'add_funcionario' %}
        {% include 'gerencia/base/parts/add_funcionario.html' %}
    {% elif action == 'edit_funcionario' %}
        {% include 'gerencia/base/parts/edit_funcionario.html' %}
    {% endif %}
{% endblock %}